"""
Run this script to test you preprocessing function locally (without building a Docker
image) using the mock client.

Run as:

    python test_preprocessing.py

Make sure to do so in an environment where `vantage6-algorithm-tools` is
installed. This can be done by running:

    pip install vantage6-algorithm-tools
"""
import pandas as pd

from vantage6.mock.network import MockNetwork
from pathlib import Path

# get path of current directory
current_path = Path(__file__).parent

# The MockNetwork expects a list of datasets. In this instance we are not interested in
# extracting the data from its source. Therefore, we supply the data as a Pandas
# dataframe avoiding the need to extract the data first
data = pd.read_csv(current_path / "test_data.csv")
DATABASE_LABEL = "default"
network = MockNetwork(
    datasets=[
        {DATABASE_LABEL: {"database": data}},
        {DATABASE_LABEL: {"database": data}},
        {DATABASE_LABEL: {"database": data}},
    ],
    module_name="{{algorithm_name}}"
)

# Once the network is created, we can get the client to interact with the MockNetwork.
client = network.user_client

# List mock organizations
organizations = client.organization.list()
print(organizations)
org_ids = [organization["id"] for organization in organizations]
{#
# Run the data extraction function
# TODO the MockNetwork has not yet implemented the preprocessing interface
# task = client.task.create(
#     method="{{preprocessing_function_name}}",
#     arguments={
#         {% from 'macros/arguments_definition.jinja' import arguments_define %}
#         {{ arguments_define(preprocessing_function_name, preprocessing_args, 2) }}
#     },
#     organizations=org_ids,
#     databases=[{"label": DATABASE_LABEL}],
# )

# Wait for the task to complete
# results = client.wait_for_results(task.get("id"))
# print(results)

# TODO implement checking the dataframe that has been created at the node:
# for node in network.nodes:
#     print(node.dataframes) #}
