
# {{algorithm_name}}

{{algorithm_description}}

This algorithm is designed to be run with the [vantage6](https://vantage6.ai)
infrastructure for distributed analysis and learning.

The base code for this algorithm has been created via the
[v6-algorithm-template](https://github.com/vantage6/v6-algorithm-template)
template generator.

### Checklist

Note that the template generator does not create a completely ready-to-use
algorithm yet. There are still a number of things you have to to yourself.
Please ensure to execute the following steps. The steps are also indicated with
TODO statements in the generated code.

{%- if use_vpn %}
- Review the EXPOSE and LABEL commands in the Dockerfile for VPN
{%- endif %}
- Include a URL to your code repository in setup.py.
- Implement your algorithm functions.
- Finally, remove this checklist section.