"""
This file contains all central algorithm functions. It is important to note
that the central method is executed on a node, just like any other method.

The results in a return statement are sent to the vantage6 server (after
encryption if that is enabled).
"""
{% if has_central_function -%}
from typing import Any

from vantage6.algorithm.tools.util import info, warn, error
from vantage6.algorithm.tools.decorators import algorithm_client
from vantage6.algorithm.client import AlgorithmClient


{# Include the function definition from a macro #}
{% from 'macros/function_definition.jinja' import func_def %}
{{
    func_def(
        central_function_name, "central_compute", 0, central_args,
    )
}}
    {# Implementation of the algorithm #}
    """ Central part of the algorithm """
    # TODO implement this function. Below is an example of a simple but typical
    # central function.

    # get all organizations (ids) within the collaboration so you can send a
    # task to them.
    organizations = client.organization.list()
    org_ids = [organization.get("id") for organization in organizations]

    # Define input parameters for a subtask
    info("Defining input parameters")
    input_ = {
        {% if has_federated_function %}
        "method": "{{federated_function_name}}",
        {% else %}
        # TODO you should define a federated method here (which should also be
        # implemented in this repository)
        "method": "some_example_method",
        {% endif %}
        "kwargs": {
            {% from 'macros/kwargs_definition.jinja' import kwargs_define %}
            {{ kwargs_define(federated_function_name, federated_args, 3) }}
        }
    }

    # create a subtask for all organizations in the collaboration.
    info("Creating subtask for all organizations in the collaboration")
    task = client.task.create(
        input_=input_,
        organizations=org_ids,
        name="My subtask",
        description="This is a very important subtask"
    )

    # wait for node to return results of the subtask.
    info("Waiting for results")
    results = client.wait_for_results(task_id=task.get("id"))
    info("Results obtained!")

    # TODO probably you want to aggregate or combine these results here.
    # For instance:
    # results = [sum(result) for result in results]

    # return the final results of the algorithm
    return results
    {% endif %}

{%- endif %}

# TODO Feel free to add more central functions here.
