Implementation
==============

Overview
--------

{% if has_central_function %}
Central (``{{central_function_name}}``)
-----------------
The central part is responsible for the orchestration and aggregation of the algorithm.

.. Describe the central function here.

{% endif %}
{% if has_federated_function %}
Federated functions
--------
Federated functions are the computations that are executed on each node. The federated
functions have access to the data that is stored on the node. These functions are
executed in parallel on each node.

``{{federated_function_name}}``
~~~~~~~~~~~~~~~~

.. Describe the function.

{% endif %}
{% if has_data_extraction %}
Data extraction (``{{data_extraction_function_name}}``)
--------------------------------
The data extraction function is responsible for extracting data from the databases and
storing it locally on the node, so that the data can be easily used in subsequent
analyses.

.. Describe the function.

{% endif %}
{% if has_data_preprocessing %}
Data preprocessing (``{{data_preprocessing_function_name}}``)
--------------------------------
The data preprocessing function is responsible for preprocessing the data extracted from
the databases.

.. Describe the function.

{% endif %}