{% macro func_def(func_name, func_type, num_dbs, func_args) %}

{# Function type decorator #}
{% if func_type == "central_compute" -%}
@central
@algorithm_client
{% elif func_type == "federated_compute" -%}
@federated
{% elif func_type == "preprocessing" -%}
@preprocessing
{% elif func_type == "data_extraction" -%}
@data_extraction
{% endif -%}

{# Data decorator #}
{%- if num_dbs > 0 -%}
@data({{num_dbs}})
{% endif -%}
{# Function definition #}
def {{func_name}}(
{{"    "}}{# <- Add 4 whitespaces before function args start  #}
{# Add client argument #}
{%- if func_type == "central_compute" %}
client: AlgorithmClient
{%- endif -%}
{# Add data arguments #}
{%- if num_dbs > 0 -%}
    {# Add comma if previous arguments exist #}
    {%- if func_type == "central_compute" -%}
        ,{{" "}}
    {%- endif -%}
    {%- for db_num in range(num_dbs)-%}
        df{{db_num + 1}}: pd.DataFrame
        {%- if not loop.last -%}
            ,{{" "}}
        {%- endif -%}
    {%- endfor %}
{%- endif %}
{# Add additional arguments to function #}
{%- if func_args %}
    {# Add comma if previous arguments exist #}
    {%- if func_type == "central_compute" or num_dbs > 0 -%}
        ,{{" "}}
    {%- endif -%}
    {# Add arguments #}
    {%- for arg in func_args-%}
        {{arg}}
        {%- if not loop.last -%}
            ,{{" "}}
        {%- endif -%}
    {%- endfor %}
{%- endif %}

    {# Finalize function definition #}
) -> Any:
{% endmacro %}